<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xy.web.mapper.OrderMapper">
	
  	<resultMap id="BaseResultMap" type="com.xy.web.model.Order">
	    <result column="order_id" property="orderId" />
	    <result column="user_id" property="userId" />
  	</resultMap>
  	
  	<!-- 表所有字段 -->
  	<sql id="Base_Column_List">
  		order_id, user_id
  	</sql>
  	
  	<!-- 根据主键查询 -->
  	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    	select 
    	<include refid="Base_Column_List" />
    	from t_order
		where order_id = #{orderId}
  	</select>
  	
  	<!-- 新增数据库记录 -->
  	<insert id="insert" parameterType="com.xy.web.model.Order">
	    insert into t_order
	    	<trim prefix="(" suffix=")" suffixOverrides=",">
				order_id,
				user_id,
		    </trim>
	    values
	     	<trim prefix="(" suffix=")" suffixOverrides=",">
				#{orderId},
				#{userId},
		    </trim>
  	</insert>
  	
  	<!-- 根据主键动态更新数据库记录 -->
  	<update id="updateByPrimaryKeySelective" parameterType="com.xy.web.model.Order">
    	update t_order
    	<set>
			<if test="orderId != null">
    			order_id = #{orderId},
  			</if>
			<if test="userId != null">
    			user_id = #{userId},
  			</if>
    	</set>
    	where order_id = #{orderId}
  	</update>
  	
	<!-- 根据map查询对象 -->
  	<select id="getOrder" resultMap="BaseResultMap" parameterType="java.util.Map">
  		select
        <include refid="Base_Column_List"/>
        from t_order
        <where>

        </where>
  	</select>
  
  	<!-- 根据map查询集合 -->
  	<select id="queryOrderByMap" resultMap="BaseResultMap" parameterType="java.util.Map">
  		select
        <include refid="Base_Column_List"/>
        from t_order
        <where>
            	    
        </where>
        <if test="orderBy != null">
        	order by ${orderBy}
        </if>
  	</select>
  	
  	<!-- 批量保存 -->
	<insert id="batchInsert" parameterType="java.util.List">
		insert into t_order (order_id, user_id)
		values 
		<foreach collection="list" index="index" item="item" separator=",">
			(#{item.orderId},
			#{item.userId})
		</foreach>
	</insert>
</mapper>