<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/data/mongo
        http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">

	<!-- <mongo:mongo-client id="mongo" replica-set="10.0.150.212:9804,10.0.150.205:9803,10.0.190.49:9805,10.0.202.121:9805">
		每个IP的连接数
		<mongo:client-options connections-per-host="100"
			threads-allowed-to-block-for-connection-multiplier="50"
			connect-timeout="5000" max-wait-time="2000" socket-keep-alive="true"
			socket-timeout="1500" />
	</mongo:mongo-client>
	
	<mongo:db-factory id="mongoDbFactory" dbname="admin" mongo-ref="mongo" />
	
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg ref="mongoDbFactory" />
	</bean> -->

</beans>